body { margin: 0; padding: 0; }

#map {
	position: absolute;
	top: 0; bottom: 0; right: 0; left: 0;
}

.chart {
	background-color: white;
	padding: 5px;
	height: 280px;
	width: 400px;
}

.esri-editor__feature-list-name {
	visibility: hidden;
	color: red;
	content: none;
}

.esri-editor__feature-list-item:nth-child(1) .esri-editor__feature-list-name:before {
	visibility: visible;
	content: "Report a crime";
}
